#Pandas 그룹화

#### 시각화 모듈 및 한글 처리

In [2]:
#한글 폰트 사용 : colab , 런타임 다시 시작 하기
%config InlineBackend.figure_format = 'retina'
!apt -qq -y install fonts-nanum

fonts-nanum is already the newest version (20170925-1).
The following package was automatically installed and is no longer required:
  libnvidia-common-440
Use 'apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 35 not upgraded.

In [4]:
#시각화 모듈
import matplotlib
import matplotlib.pyplot as plt

#한글 폰트 사용 : vscode , window
import matplotlib as mpl
import matplotlib.font_manager as fm
fontpath = '/usr/share/fonts/truetype/nanum/NanumBarunGothic.ttf'
font = fm.FontProperties(fname=fontpath, size=9)
plt.rc('font', family='NanumBarunGothic') 
mpl.font_manager._rebuild()

#마이너스 깨지는 경우 처리
matplotlib.rcParams['axes.unicode_minus'] = False

In [5]:
import pandas as pd

In [6]:
import warnings
warnings.filterwarnings(action='ignore')

#### 부산시 탄소발생현황 및 구청 위치 정보 불러오기

In [7]:
df = pd.read_excel('/content/drive/My Drive/PythonWork/PythonBasic/05/부산탄소발생현황.xlsx')
df.head()

     연도   용도명    구명   동명  배출량원단위(전기)  배출량원단위(가스)  배출량원단위(지역난방)
0  2013  공동주택   사하구  괴정동       3.782       0.000           0.0
1  2013     -   연제구  연산동       0.200       0.000           0.0
2  2013  단독주택  부산진구  전포동      15.977       0.000           0.0
3  2013  단독주택   사하구  하단동       0.000       3.512           0.0
4  2013  단독주택  부산진구  부암동       0.000       5.569           0.0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   연도            5000 non-null   int64
 1   용도명           5000 non-null   object
 2   구명            5000 non-null   object
 3   동명            5000 non-null   object
 4   배출량원단위(전기)    5000 non-null   float64
 5   배출량원단위(가스)    5000 non-null   float64
 6   배출량원단위(지역난방)  5000 non-null   float64
dtypes: float64(3), int64(1), object(3)
memory usage: 273.6+ KB

In [36]:
dfloc = pd.read_excel('/content/drive/My Drive/PythonWork/PythonBasic/05/부산구청.xlsx')
dfloc.head()

      항목         위도          경도
0     중구  35.106609  129.030064
1     서구  35.097924  129.022010
2     동구  35.129344  129.043314
3    영도구  35.091212  129.065700
4  부산진구   35.163087  129.051213

### 그룹화
+ **.groupby()**
 - 집단에 대한 통계량 확인 
 
 <img src="https://s3.amazonaws.com/files.dezyre.com/images/Tutorials/Split+Apply+Combine+Strategy.png" width="250" height="160">

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   연도            5000 non-null   int64
 1   용도명           5000 non-null   object
 2   구명            5000 non-null   object
 3   동명            5000 non-null   object
 4   배출량원단위(전기)    5000 non-null   float64
 5   배출량원단위(가스)    5000 non-null   float64
 6   배출량원단위(지역난방)  5000 non-null   float64
dtypes: float64(3), int64(1), object(3)
memory usage: 273.6+ KB

In [29]:
df.columns = ['연도', '용도명', '구명', '동명', '전기', '가스', '지역난방']

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   연도      5000 non-null   int64
 1   용도명     5000 non-null   object
 2   구명      5000 non-null   object
 3   동명      5000 non-null   object
 4   전기      5000 non-null   float64
 5   가스      5000 non-null   float64
 6   지역난방    5000 non-null   float64
dtypes: float64(3), int64(1), object(3)
memory usage: 273.6+ KB

In [57]:
dfg = df.groupby('구명')['전기','가스','지역난방'].mean()

In [58]:
dfg

             전기         가스      지역난방
구명
강서구    1.637256   2.558892  9.093517
금정구    5.738754   5.152858  1.908517
기장군    2.046715   6.983860  1.741740
남구     3.382481   2.370365  1.494403
동구    13.437295   1.806143  0.552283
동래구    7.537049   3.725948  3.129478
부산진구   7.405469  17.551699  1.603519
북구     8.738386  17.966486  3.697347
사상구    6.423692  23.486733  1.280364
사하구    4.348179   3.029733  2.605370
서구     3.663406  16.548430  2.087043
수영구    5.235528   8.940113  1.732688
연제구    8.099686   5.186586  4.891795
영도구    2.930254   6.368535  0.380711
중구     5.947992   2.733571  0.378331
해운대구  16.444057  24.118187  7.307480

In [40]:
dfg.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16 entries, 강서구 to 해운대구
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   전기      16 non-null     float64
 1   가스      16 non-null     float64
 2   지역난방    16 non-null     float64
dtypes: float64(3)
memory usage: 512.0+ bytes

In [41]:
dfloc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   항목      16 non-null     object
 1   위도      16 non-null     float64
 2   경도      16 non-null     float64
dtypes: float64(2), object(1)
memory usage: 512.0+ bytes

In [42]:
dfg.head()

            전기        가스      지역난방
구명
강서구   1.637256  2.558892  9.093517
금정구   5.738754  5.152858  1.908517
기장군   2.046715  6.983860  1.741740
남구    3.382481  2.370365  1.494403
동구   13.437295  1.806143  0.552283

In [43]:
dfloc.head()

      항목         위도          경도
0     중구  35.106609  129.030064
1     서구  35.097924  129.022010
2     동구  35.129344  129.043314
3    영도구  35.091212  129.065700
4  부산진구   35.163087  129.051213

### 데이터 연결하기
+ **pd.concat()**
 - 기준 열(key column)을 사용하지 않고 단순히 데이터를 연결(concatenate)
 - Index를 기준으로 합침
 - 열방향으로 연결하기 : axis=1

In [44]:
dfarea = pd.concat([dfg, dfloc])
dfarea

             전기         가스      지역난방     항목         위도          경도
강서구    1.637256   2.558892  9.093517    NaN        NaN         NaN
금정구    5.738754   5.152858  1.908517    NaN        NaN         NaN
기장군    2.046715   6.983860  1.741740    NaN        NaN         NaN
남구     3.382481   2.370365  1.494403    NaN        NaN         NaN
동구    13.437295   1.806143  0.552283    NaN        NaN         NaN
동래구    7.537049   3.725948  3.129478    NaN        NaN         NaN
부산진구   7.405469  17.551699  1.603519    NaN        NaN         NaN
북구     8.738386  17.966486  3.697347    NaN        NaN         NaN
사상구    6.423692  23.486733  1.280364    NaN        NaN         NaN
사하구    4.348179   3.029733  2.605370    NaN        NaN         NaN
서구     3.663406  16.548430  2.087043    NaN        NaN         NaN
수영구    5.235528   8.940113  1.732688    NaN        NaN         NaN
연제구    8.099686   5.186586  4.891795    NaN        NaN         NaN
영도구    2.930254   6.368535  0.380711    NaN        NaN         NaN
중구     5.947992   2.733571  0.378331    NaN        NaN         NaN
해운대구  16.444057  24.118187  7.307480    NaN        NaN         NaN
0           NaN        NaN       NaN     중구  35.106609  129.030064
1           NaN        NaN       NaN     서구  35.097924  129.022010
2           NaN        NaN       NaN     동구  35.129344  129.043314
3           NaN        NaN       NaN    영도구  35.091212  129.065700
4           NaN        NaN       NaN  부산진구   35.163087  129.051213
5           NaN        NaN       NaN    동래구  35.204841  129.081425
6           NaN        NaN       NaN     남구  35.136578  129.082053
7           NaN        NaN       NaN     북구  35.198325  128.987705
8           NaN        NaN       NaN   해운대구  35.163106  129.161390
9           NaN        NaN       NaN    사하구  35.104451  128.972650
10          NaN        NaN       NaN    금정구  35.242974  129.089958
11          NaN        NaN       NaN    강서구  35.212231  128.978379
12          NaN        NaN       NaN    연제구  35.176504  129.077611
13          NaN        NaN       NaN    수영구  35.145615  129.110889
14          NaN        NaN       NaN    사상구  35.152640  128.988623
15          NaN        NaN       NaN    기장군  35.244600  129.220059

In [59]:
dfg.index

Index(['강서구', '금정구', '기장군', '남구', '동구', '동래구', '부산진구', '북구', '사상구', '사하구',
       '서구', '수영구', '연제구', '영도구', '중구', '해운대구'],
      dtype='object', name='구명')

In [60]:
dfg = dfg.reset_index()

In [61]:
dfloc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   항목      16 non-null     object
 1   위도      16 non-null     float64
 2   경도      16 non-null     float64
dtypes: float64(2), object(1)
memory usage: 512.0+ bytes

In [62]:
pd.concat([dfg, dfloc], axis=1)

      구명         전기         가스      지역난방     항목         위도          경도
0    강서구   1.637256   2.558892  9.093517     중구  35.106609  129.030064
1    금정구   5.738754   5.152858  1.908517     서구  35.097924  129.022010
2    기장군   2.046715   6.983860  1.741740     동구  35.129344  129.043314
3     남구   3.382481   2.370365  1.494403    영도구  35.091212  129.065700
4     동구  13.437295   1.806143  0.552283  부산진구   35.163087  129.051213
5    동래구   7.537049   3.725948  3.129478    동래구  35.204841  129.081425
6   부산진구   7.405469  17.551699  1.603519     남구  35.136578  129.082053
7     북구   8.738386  17.966486  3.697347     북구  35.198325  128.987705
8    사상구   6.423692  23.486733  1.280364   해운대구  35.163106  129.161390
9    사하구   4.348179   3.029733  2.605370    사하구  35.104451  128.972650
10    서구   3.663406  16.548430  2.087043    금정구  35.242974  129.089958
11   수영구   5.235528   8.940113  1.732688    강서구  35.212231  128.978379
12   연제구   8.099686   5.186586  4.891795    연제구  35.176504  129.077611
13   영도구   2.930254   6.368535  0.380711    수영구  35.145615  129.110889
14    중구   5.947992   2.733571  0.378331    사상구  35.152640  128.988623
15  해운대구  16.444057  24.118187  7.307480    기장군  35.244600  129.220059

In [63]:
dfg.head(2)

    구명        전기        가스      지역난방
0  강서구  1.637256  2.558892  9.093517
1  금정구  5.738754  5.152858  1.908517

In [64]:
dfg = dfg.set_index('구명')
dfg.head(2)

           전기        가스      지역난방
구명
강서구  1.637256  2.558892  9.093517
금정구  5.738754  5.152858  1.908517

In [66]:
dfloc = dfloc.set_index('항목')
dfloc.head(2)

           위도          경도
항목
중구  35.106609  129.030064
서구  35.097924  129.022010

In [67]:
dfarea = pd.concat([dfg, dfloc], axis=1)
dfarea

              전기         가스      지역난방         위도          경도
강서구     1.637256   2.558892  9.093517  35.212231  128.978379
금정구     5.738754   5.152858  1.908517  35.242974  129.089958
기장군     2.046715   6.983860  1.741740  35.244600  129.220059
남구      3.382481   2.370365  1.494403  35.136578  129.082053
동구     13.437295   1.806143  0.552283  35.129344  129.043314
동래구     7.537049   3.725948  3.129478  35.204841  129.081425
부산진구    7.405469  17.551699  1.603519        NaN         NaN
북구      8.738386  17.966486  3.697347  35.198325  128.987705
사상구     6.423692  23.486733  1.280364  35.152640  128.988623
사하구     4.348179   3.029733  2.605370  35.104451  128.972650
서구      3.663406  16.548430  2.087043  35.097924  129.022010
수영구     5.235528   8.940113  1.732688  35.145615  129.110889
연제구     8.099686   5.186586  4.891795  35.176504  129.077611
영도구     2.930254   6.368535  0.380711  35.091212  129.065700
중구      5.947992   2.733571  0.378331  35.106609  129.030064
해운대구   16.444057  24.118187  7.307480  35.163106  129.161390
부산진구         NaN        NaN       NaN  35.163087  129.051213

In [68]:
dfg.index

Index(['강서구', '금정구', '기장군', '남구', '동구', '동래구', '부산진구', '북구', '사상구', '사하구',
       '서구', '수영구', '연제구', '영도구', '중구', '해운대구'],
      dtype='object', name='구명')

In [69]:
dfloc.index

Index(['중구', '서구', '동구', '영도구', '부산진구 ', '동래구', '남구', '북구', '해운대구', '사하구',
       '금정구', '강서구', '연제구', '수영구', '사상구', '기장군'],
      dtype='object', name='항목')

In [70]:
dfloc = dfloc.rename(index={'부산진구 ':'부산진구'})

In [71]:
busan = pd.concat([dfg, dfloc], axis=1)
busan

             전기         가스      지역난방         위도          경도
강서구    1.637256   2.558892  9.093517  35.212231  128.978379
금정구    5.738754   5.152858  1.908517  35.242974  129.089958
기장군    2.046715   6.983860  1.741740  35.244600  129.220059
남구     3.382481   2.370365  1.494403  35.136578  129.082053
동구    13.437295   1.806143  0.552283  35.129344  129.043314
동래구    7.537049   3.725948  3.129478  35.204841  129.081425
부산진구   7.405469  17.551699  1.603519  35.163087  129.051213
북구     8.738386  17.966486  3.697347  35.198325  128.987705
사상구    6.423692  23.486733  1.280364  35.152640  128.988623
사하구    4.348179   3.029733  2.605370  35.104451  128.972650
서구     3.663406  16.548430  2.087043  35.097924  129.022010
수영구    5.235528   8.940113  1.732688  35.145615  129.110889
연제구    8.099686   5.186586  4.891795  35.176504  129.077611
영도구    2.930254   6.368535  0.380711  35.091212  129.065700
중구     5.947992   2.733571  0.378331  35.106609  129.030064
해운대구  16.444057  24.118187  7.307480  35.163106  129.161390

In [72]:
busan.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16 entries, 강서구 to 해운대구
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   전기      16 non-null     float64
 1   가스      16 non-null     float64
 2   지역난방    16 non-null     float64
 3   위도      16 non-null     float64
 4   경도      16 non-null     float64
dtypes: float64(5)
memory usage: 768.0+ bytes

In [74]:
#지도 시각화
#pip install folium
#https://github.com/southkorea/southkorea-maps 
import folium

In [77]:
map = folium.Map(location=[35.166804, 129.083479], zoom_start=12)

In [78]:
for item in busan.index:
    lat = busan.loc[item,'위도']
    long = busan.loc[item,'경도'] 
    folium.Marker([lat,long]).add_to(map)

map

In [ ]:
map = folium.Map(location=[35.166804, 129.083479], zoom_start=12)
for item in busan.index:
    lat = busan.loc[item,'위도']
    long = busan.loc[item,'경도'] 
    memo = str( busan.loc[item,'전기'])
    folium.CircleMarker([lat,long],
                        radius=busan.loc[item,'전기']*2, 
                        color='crimson', 
                        popup = memo,
                        fill =True
                        ).add_to(map)

map

In [ ]:

map_osm = folium.Map(location=[35.166804, 129.083479], zoom_start=11)

for item in busan.index:
    lat = busan.loc[item,'위도']
    long = busan.loc[item,'경도'] 
    folium.CircleMarker( [lat,long], 
                        radius=busan.loc[item,'전기'] , 
                        popup=busan.loc[item,'전기'] , 
                        color='crimson', 
                        fill =True).add_to(map_osm) 
map_osm