해결문제) mv1.csv 파일을 읽어서 다음을 처리하시오.
+ '년도' 열을 추가한 후 년도가 2018년도인 자료를 추출하여 평점 통계를 구하시오.
+ 2019년 10위까지 평점 통계를 구하시오.

In [ ]:
import pandas as pd

In [ ]:
dfmv = pd.read_csv('/content/drive/My Drive/PythonWork/PythonBasic/04/mv1.csv' ,header=None)
dfmv.head(2)

        0  1                              2            3    4            5
0  119859  1   /moviedb/main?movieId=119859         극한직업  7.4   2019.01.23
1   93252  2    /moviedb/main?movieId=93252   어벤져스: 엔드게임  7.8   2019.04.24

In [ ]:
dfmv.columns = ['영화코드', '순위', '링크', '영화명', '평점', '일자']

In [ ]:
dfmv.head(2)

     영화코드  순위                             링크          영화명   평점           일자
0  119859   1   /moviedb/main?movieId=119859         극한직업  7.4   2019.01.23
1   93252   2    /moviedb/main?movieId=93252   어벤져스: 엔드게임  7.8   2019.04.24

In [ ]:
dfmv.columns

Index(['영화코드', '순위', '링크', '영화명', '평점', '일자'], dtype='object')

In [ ]:
dfmv = pd.read_csv('/content/drive/My Drive/PythonWork/PythonBasic/04/mv1.csv',names=['영화코드', '순위', '링크', '영화명', '평점', '일자'], header=None)
dfmv.head(2)

     영화코드  순위                             링크          영화명   평점           일자
0  119859   1   /moviedb/main?movieId=119859         극한직업  7.4   2019.01.23
1   93252   2    /moviedb/main?movieId=93252   어벤져스: 엔드게임  7.8   2019.04.24

In [ ]:
dfmv.info()

In [ ]:
dfmv['일자']

0      2019.01.23
1      2019.04.24
2      2019.11.21
3      2019.05.23
4      2019.05.30
         ...
95     2018.03.07
96     2018.12.19
97     2018.04.05
98     2018.12.26
99     2018.12.25
Name: 일자, Length: 100, dtype: object

In [ ]:
dfmv[:2]['일자']

0     2019.01.23
1     2019.04.24
Name: 일자, dtype: object

In [ ]:
dfmv.loc[[0,1], '일자']

0     2019.01.23
1     2019.04.24
Name: 일자, dtype: object

In [ ]:
dfmv['일자'] = dfmv['일자'].str.strip()

In [ ]:
dfmv['일자'] = dfmv['일자'].str.replace("'","")

In [ ]:
dfmv2 = dfmv

In [ ]:
dfmv2.head(2)

     영화코드  순위                             링크  ...   평점          일자     년
0  119859   1   /moviedb/main?movieId=119859  ...  7.4  2019.01.23  2019
1   93252   2    /moviedb/main?movieId=93252  ...  7.8  2019.04.24  2019

[2 rows x 7 columns]

In [ ]:
dfmv2['년'] = dfmv['일자'].str[:4]

In [ ]:
dfmv = dfmv.drop('년', axis = 1)
dfmv.head(2)

     영화코드  순위                             링크          영화명   평점          일자
0  119859   1   /moviedb/main?movieId=119859         극한직업  7.4  2019.01.23
1   93252   2    /moviedb/main?movieId=93252   어벤져스: 엔드게임  7.8  2019.04.24

In [ ]:
dfmv2[dfmv2['년'] == '2018']

      영화코드  순위                             링크  ...   평점          일자     년
34   94484  35    /moviedb/main?movieId=94484  ...  7.5  2018.12.19  2018
50  120166   1   /moviedb/main?movieId=120166  ...  6.8  2018.08.01  2018
51   93251   2    /moviedb/main?movieId=93251  ...  7.6  2018.04.25  2018
52  115280   3   /moviedb/main?movieId=115280  ...  8.9  2018.10.31  2018
53   99611   4    /moviedb/main?movieId=99611  ...  8.1  2018.07.25  2018
55  108035   6   /moviedb/main?movieId=108035  ...  7.1  2018.06.06  2018
56  110746   7   /moviedb/main?movieId=110746  ...  7.4  2018.07.04  2018
57  110556   8   /moviedb/main?movieId=110556  ...  7.6  2018.09.19  2018
58   98033   9    /moviedb/main?movieId=98033  ...  6.1  2018.02.14  2018
59  117910  10   /moviedb/main?movieId=117910  ...  7.5  2018.10.31  2018
61  108633  12   /moviedb/main?movieId=108633  ...  6.5  2018.05.22  2018
62  109169  13   /moviedb/main?movieId=109169  ...  8.3  2018.08.08  2018
63  112415  14   /moviedb/main?movieId=112415  ...  7.1  2018.10.03  2018
64  109924  15   /moviedb/main?movieId=109924  ...  7.6  2018.10.03  2018
65  102301  16   /moviedb/main?movieId=102301  ...  6.8  2018.05.16  2018
66  114124  17   /moviedb/main?movieId=114124  ...  8.1  2018.11.28  2018
67  110929  18   /moviedb/main?movieId=110929  ...  8.9  2018.01.11  2018
68   94484  19    /moviedb/main?movieId=94484  ...  7.5  2018.12.19  2018
69  108632  20   /moviedb/main?movieId=108632  ...  8.7  2018.01.17  2018
70  111293  21   /moviedb/main?movieId=111293  ...  8.0  2018.06.27  2018
71  112705  22   /moviedb/main?movieId=112705  ...  7.4  2018.06.13  2018
72  117020  23   /moviedb/main?movieId=117020  ...  8.0  2018.07.18  2018
73  117952  24   /moviedb/main?movieId=117952  ...  8.3  2018.08.29  2018
74  113862  25   /moviedb/main?movieId=113862  ...  7.3  2018.08.22  2018
75  118604  26   /moviedb/main?movieId=118604  ...  4.9  2018.03.28  2018
76  115112  27   /moviedb/main?movieId=115112  ...  7.9  2018.03.14  2018
77  111723  28   /moviedb/main?movieId=111723  ...  5.3  2018.08.15  2018
78  113686  29   /moviedb/main?movieId=113686  ...  6.6  2018.02.08  2018
79  111490  30   /moviedb/main?movieId=111490  ...  5.9  2018.11.14  2018
80  115769  31   /moviedb/main?movieId=115769  ...  7.1  2018.01.17  2018
81  112899  32   /moviedb/main?movieId=112899  ...  7.8  2018.08.08  2018
82   96030  33    /moviedb/main?movieId=96030  ...  7.9  2018.03.28  2018
83  111569  34   /moviedb/main?movieId=111569  ...  6.6  2018.09.19  2018
84  112447  35   /moviedb/main?movieId=112447  ...  7.1  2018.09.19  2018
85  108037  36   /moviedb/main?movieId=108037  ...  5.5  2018.12.19  2018
86  107638  37   /moviedb/main?movieId=107638  ...  7.4  2018.01.03  2018
87  110097  38   /moviedb/main?movieId=110097  ...  5.5  2018.10.25  2018
88  118313  39   /moviedb/main?movieId=118313  ...  6.3  2018.11.22  2018
89  118159  40   /moviedb/main?movieId=118159  ...  6.3  2018.12.05  2018
90  106307  41   /moviedb/main?movieId=106307  ...  8.4  2018.02.28  2018
91  108886  42   /moviedb/main?movieId=108886  ...  5.2  2018.02.14  2018
92  108275  43   /moviedb/main?movieId=108275  ...  6.7  2018.04.12  2018
93   95501  44    /moviedb/main?movieId=95501  ...  6.4  2018.02.28  2018
94  108442  45   /moviedb/main?movieId=108442  ...  6.8  2018.06.13  2018
95  111294  46   /moviedb/main?movieId=111294  ...  6.9  2018.03.07  2018
96  112060  47   /moviedb/main?movieId=112060  ...  8.5  2018.12.19  2018
97  110548  48   /moviedb/main?movieId=110548  ...  6.3  2018.04.05  2018
98  114542  49   /moviedb/main?movieId=114542  ...  5.3  2018.12.26  2018
99  111384  50   /moviedb/main?movieId=111384  ...  7.5  2018.12.25  2018

[49 rows x 7 columns]

In [ ]:
dfmv['일자'] = pd.to_datetime(dfmv['일자'])
dfmv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   영화코드    100 non-null    int64
 1   순위      100 non-null    int64
 2   링크      100 non-null    object
 3   영화명     100 non-null    object
 4   평점      100 non-null    float64
 5   일자      100 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2), object(2)
memory usage: 4.8+ KB

In [ ]:
dfmv['년도'] = dfmv['일자'].dt.year
dfmv['월'] = dfmv['일자'].dt.month
dfmv.head(2)

     영화코드  순위                             링크  ...         일자    년도  월
0  119859   1   /moviedb/main?movieId=119859  ... 2019-01-23  2019  1
1   93252   2    /moviedb/main?movieId=93252  ... 2019-04-24  2019  4

[2 rows x 8 columns]

In [ ]:
dfmv.count()

영화코드    100
순위      100
링크      100
영화명     100
평점      100
일자      100
년도      100
월       100
dtype: int64

In [ ]:
dfmv.sort_values(by = '년도')

      영화코드  순위                             링크  ...         일자    년도   월
54   73003   5    /moviedb/main?movieId=73003  ... 2017-12-20  2017  12
60  108595  11   /moviedb/main?movieId=108595  ... 2017-12-27  2017  12
99  111384  50   /moviedb/main?movieId=111384  ... 2018-12-25  2018  12
71  112705  22   /moviedb/main?movieId=112705  ... 2018-06-13  2018   6
70  111293  21   /moviedb/main?movieId=111293  ... 2018-06-27  2018   6
..     ...  ..                            ...  ...        ...   ...  ..
27  106442  28   /moviedb/main?movieId=106442  ... 2019-02-05  2019   2
26  124804  27   /moviedb/main?movieId=124804  ... 2019-11-07  2019  11
25  122593  26   /moviedb/main?movieId=122593  ... 2019-09-11  2019   9
48  131271  49   /moviedb/main?movieId=131271  ... 2019-12-11  2019  12
49  126253  50   /moviedb/main?movieId=126253  ... 2019-06-26  2019   6

[100 rows x 8 columns]

In [ ]:
df2018 = dfmv[dfmv['년도'] == 2018 ] 
df2018.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49 entries, 34 to 99
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   영화코드    49 non-null     int64
 1   순위      49 non-null     int64
 2   링크      49 non-null     object
 3   영화명     49 non-null     object
 4   평점      49 non-null     float64
 5   일자      49 non-null     datetime64[ns]
 6   년도      49 non-null     int64
 7   월       49 non-null     int64
dtypes: datetime64[ns](1), float64(1), int64(4), object(2)
memory usage: 3.4+ KB

In [ ]:
df2018['평점'].describe()

count    49.000000
mean      7.126531
std       1.008872
min       4.900000
25%       6.500000
50%       7.300000
75%       7.900000
max       8.900000
Name: 평점, dtype: float64

In [ ]:
dfmv2019 = dfmv[(dfmv['순위'] <= 10) & (dfmv['년도'] == 2019)]
dfmv2019

     영화코드  순위                             링크  ...         일자    년도   월
0  119859   1   /moviedb/main?movieId=119859  ... 2019-01-23  2019   1
1   93252   2    /moviedb/main?movieId=93252  ... 2019-04-24  2019   4
2   93004   3    /moviedb/main?movieId=93004  ... 2019-11-21  2019  11
3  115601   4   /moviedb/main?movieId=115601  ... 2019-05-23  2019   5
4  111292   5   /moviedb/main?movieId=111292  ... 2019-05-30  2019   5
5  121137   6   /moviedb/main?movieId=121137  ... 2019-07-31  2019   7
6  122542   7   /moviedb/main?movieId=122542  ... 2019-07-02  2019   7
7  133855   8   /moviedb/main?movieId=133855  ... 2019-12-19  2019  12
8  101393   9   /moviedb/main?movieId=101393  ... 2019-03-06  2019   3
9  125080  10   /moviedb/main?movieId=125080  ... 2019-10-02  2019  10

[10 rows x 8 columns]

In [ ]:
dfmv2019['평점'].describe()

count    10.000000
mean      7.360000
std       0.699524
min       6.300000
25%       6.725000
50%       7.550000
75%       7.775000
max       8.400000
Name: 평점, dtype: float64

In [ ]:
dfmv2019 = dfmv2019[['순위', '영화명', '평점']]
dfmv2019

   순위             영화명   평점
0   1            극한직업  7.4
1   2      어벤져스: 엔드게임  7.8
2   3          겨울왕국 2  7.4
3   4             알라딘  8.4
4   5             기생충  7.9
5   6             엑시트  7.7
6   7   스파이더맨: 파 프롬 홈  6.5
7   8             백두산  6.5
8   9           캡틴 마블  6.3
9  10              조커  7.7

In [ ]:
dfmv2019.columns

Index(['순위', '영화명', '평점'], dtype='object')

In [ ]:
import warnings
warnings.filterwarnings(action='ignore')

In [ ]:
dfmv2019.loc['평균'] = dfmv2019.mean()
dfmv2019.loc['평균', ['순위','영화명']]= ''
dfmv2019

    순위             영화명    평점
0    1            극한직업  7.40
1    2      어벤져스: 엔드게임  7.80
2    3          겨울왕국 2  7.40
3    4             알라딘  8.40
4    5             기생충  7.90
5    6             엑시트  7.70
6    7   스파이더맨: 파 프롬 홈  6.50
7    8             백두산  6.50
8    9           캡틴 마블  6.30
9   10              조커  7.70
평균                      7.36