# set 과 딕션너리 차이

In [9]:
s = {} 

print(type(s))

<class 'dict'>

In [4]:
s[0] = 1
s[2] = 1

In [5]:
print(s)

{0: 1, 2: 1}

In [7]:
s2 = set(s.values())
print(s2)
print(type(s2))

{1}
<class 'set'>

In [8]:
s2[0] = 3

TypeError: 'set' object does not support item assignment

# 함수

<pre>
<code>
def 함수명(매개변수) :
    문장
</code>
</pre>

In [10]:
def show() :
    print('안녕하세요.')

In [11]:
show()
show()

안녕하세요.
안녕하세요.

In [12]:
def show2() :
    return '안녕하세요'

In [14]:
print(show2())

안녕하세요

In [15]:
s = show2()
print(s)

안녕하세요

In [19]:
def show3(msg):
    print('-'*30)
    print(msg)
    print('-'*30)

In [20]:
show3('파이썬')

------------------------------
파이썬
------------------------------

In [21]:
show3('부산대학교')

------------------------------
부산대학교
------------------------------

In [22]:
#함수의 반환값 

def f1() :
    return 1

def f2() :
    return 1, 'python'

def f3() :
    return [1, 'python']

def f4() :
    return {1:'python'}

In [25]:
r1 = f1()
print('r1 = ', r1, type(r1))

r2 = f2()
print('r2 = ', r2, type(r2))
r21, r22 = f2()
print('r21 = ', r21, type(r21))
print('r22 = ', r22, type(r22))

r3 = f3()
print('r3 = ', r3, type(r3))

r4 = f4()
print('r4 = ', r4, type(r4))

r1 =  1 <class 'int'>
r2 =  (1, 'python') <class 'tuple'>
r21 =  1 <class 'int'>
r22 =  python <class 'str'>
r3 =  [1, 'python'] <class 'list'>
r4 =  {1: 'python'} <class 'dict'>

In [29]:
#함수 매개변수 
def p1(x):
    show3(x)
    
def p2(x):
    show3(x)

def p21(x, y):
    show3(str(x) + ',' + str(y))
    
def p3(x):
    show3(x)

def p4(x):
    show3(x)

In [30]:
p1(r1)
p2(r2)
p21(r21, r22)
p3(r3)
p4(r4)

------------------------------
1
------------------------------
------------------------------
(1, 'python')
------------------------------
------------------------------
1,python
------------------------------
------------------------------
[1, 'python']
------------------------------
------------------------------
{1: 'python'}
------------------------------