## 함수 실습


---
해결문제) 사칙연산 프로그램


---

In [1]:
#입력
def inMsg(msg) :
    return input(msg)

In [9]:
#계산 
def cal(x, y, op) :
    if op == '+' : return f'{x} + {y} = {x+y}'
    elif op == '-' : return f'{x} - {y} = {x-y}'
    elif op == '-' : return f'{x} - {y} = {x-y}'
    elif op == 'x' : return f'{x} x {y} = {x*y}'
    elif op == '/' : return f'{x} / {y} = {x/y}'
    elif op == '//' : return f'{x} // {y} = {x//y}'
    elif op == '%' : return f'{x} % {y} = {x%y}'
    else : return 'error'

In [10]:
if __name__ == '__main__' :
    x = int(inMsg('첫번째 숫자입력 :'))
    y = int(inMsg('두번째 숫자입력 :'))
    op = inMsg('연산자입력 :')

    print(cal(x,y,op))

첫번째 숫자입력 :20
두번째 숫자입력 :3
연산자입력 ://
20 // 3 = 6



---


해결문제) 시도별 대기정보는 미세먼지(PM10), 오존(O3), 일산화탄소(CO)의 정보가 순서대로 주어진다.

+ https://www.airkorea.or.kr/web/sidoQualityCompare?itemCode=10008&pMENU_NO=102 
+ 시도별 각 대기정보의 등급을 산정하여 표로 나타내시오.
 - 단 , 좋음 : **** , 보통 : ***, 나쁨 : **, 매우나쁨  :*로 표시
 
![대체 텍스트](https://drive.google.com/uc?export=view&id=1ZiqYf2Ks8gqRY9dobmbJy8JnE5Ho8e9b)


---

In [11]:
#미세먼지(PM10) 등급 판단 
def PM10(num) :
    if num <= 30 : return '좋음'
    elif num <= 80 : return '보통'
    elif num <= 150 : return '나쁨'
    else : return '매우나쁨'

#오존(O3) 등급 판단 
def O3(num) :
    if num <= 0.03 : return '좋음'
    elif num <= 0.09 : return '보통'
    elif num <= 0.15 : return '나쁨'
    else : return '매우나쁨'

#일산화탄소(CO) 등급 판단    
def CO(num) :
    if num <= 2 : return '좋음'
    elif num <= 9 : return '보통'
    elif num <= 15 : return '나쁨'
    else : return '매우나쁨'
    
#등급 별 표시
def star(grade) :
    if grade == '좋음' : return '*** '
    elif grade == '보통'  : return '**  '
    elif grade == '나쁨' : return '*   '
    else : return '    '

In [12]:


#지역별 데이터
data = {'서울':[81,0.052,0.4] ,
        '부산':[54,0.072,0.4],
        '대구':[55,0.06,0.4],
        '인천':[52,0.06,0.5],
        '광주':[61,0.064,0.5],
        '대전':[71,0.064,0.4],
        '울산':[60,0.068,0.4],
        '경기':[64,0.06,0.4],
        '강원':[62,0.062,0.4],
        '충북':[59,0.067,0.4],
        '충남':[65,0.063,0.4],
        '전북':[65,0.068,0.4],
        '전남':[51,0.062,0.4],
        '세종':[69,0.06,0.5],
        '경북':[57,0.066,0.4],
        '경남':[49,0.074,0.4],
        '제주':[66,0.076,0.3]}

In [16]:
datastar = {}

for key, value in data.items() :
    lt = []
    lt.append(star(PM10(value[0])))
    lt.append(star(O3(value[1])))
    lt.append(star(CO(value[2])))
    datastar[key] = lt

print(datastar)

{'서울': ['*   ', '**  ', '*** '], '부산': ['**  ', '**  ', '*** '], '대구': ['**  ', '**  ', '*** '], '인천': ['**  ', '**  ', '*** '], '광주': ['**  ', '**  ', '*** '], '대전': ['**  ', '**  ', '*** '], '울산': ['**  ', '**  ', '*** '], '경기': ['**  ', '**  ', '*** '], '강원': ['**  ', '**  ', '*** '], '충북': ['**  ', '**  ', '*** '], '충남': ['**  ', '**  ', '*** '], '전북': ['**  ', '**  ', '*** '], '전남': ['**  ', '**  ', '*** '], '세종': ['**  ', '**  ', '*** '], '경북': ['**  ', '**  ', '*** '], '경남': ['**  ', '**  ', '*** '], '제주': ['**  ', '**  ', '*** ']}

In [25]:
print('지역| PM10|  O3 |  Co |')
print('='*23)
for key , value in datastar.items() :
    print(key , end = '| ')
    for item in value :
        print(item , end = '| ')
    print()

지역| PM10|  O3 |  Co |
=======================
서울| *   | **  | *** |
부산| **  | **  | *** |
대구| **  | **  | *** |
인천| **  | **  | *** |
광주| **  | **  | *** |
대전| **  | **  | *** |
울산| **  | **  | *** |
경기| **  | **  | *** |
강원| **  | **  | *** |
충북| **  | **  | *** |
충남| **  | **  | *** |
전북| **  | **  | *** |
전남| **  | **  | *** |
세종| **  | **  | *** |
경북| **  | **  | *** |
경남| **  | **  | *** |
제주| **  | **  | *** |

In [30]:
lt = [10,20,30]

lts = str(lt).replace('[','').replace(']','').replace(',','|')

print(lts)

10| 20| 30