# 판다스(pandas)
+ 파이썬에서 사용하는 데이터분석 라이브러리

+ 행과 열로 이루어진 데이터 객체를 만들어 다룰 수 있게 되며 보다 안정적으로 대용량의 데이터들을 처리하는데 매우 편리한 도구

+ NumPy를 기반으로 구축되었으며 과학 컴퓨팅 환경 내에서 다른 많은 타사 라이브러리와 잘 통합되도록 설계

In [1]:
import pandas as pd

In [7]:
with open('/content/drive/My Drive/PythonWork/PythonBasic/04/부산시기온.csv','r',encoding='utf-8') as fp:
    data = fp.readlines() 

dt = {'일시':[], '평균':[], '최고':[], '최저':[]}
for line in data:
    line = line.replace('\n', '')

    if line[:2] == '일시' : continue
    item = line.split(',')
    dt['일시'].append(item[0])
    dt['평균'].append(float(item[1]))
    dt['최고'].append(float(item[2]))
    dt['최저'].append(float(item[3]))

print(type(dt))
print(dt)

<class 'dict'>
{'일시': ['2017-01-01', '2017-02-01', '2017-03-01', '2017-04-01', '2017-05-01', '2017-06-01', '2017-07-01', '2017-08-01', '2017-09-01', '2017-10-01', '2017-11-01', '2017-12-01', '2018-01-01', '2018-02-01', '2018-03-01', '2018-04-01', '2018-05-01', '2018-06-01', '2018-07-01', '2018-08-01', '2018-09-01', '2018-10-01', '2018-11-01', '2018-12-01', '2019-01-01', '2019-02-01', '2019-03-01', '2019-04-01', '2019-05-01', '2019-06-01'], '평균': [4.1, 5.5, 9.0, 15.0, 19.0, 21.3, 26.1, 27.0, 22.6, 18.1, 11.2, 3.6, 1.9, 3.9, 10.0, 14.5, 17.8, 21.5, 26.7, 27.9, 21.9, 16.4, 12.4, 5.7, 4.5, 6.6, 10.5, 13.4, 19.3, 21.1], '최고': [15.1, 17.7, 18.1, 23.2, 28.2, 30.4, 32.7, 36.2, 29.7, 28.7, 23.6, 14.5, 14.0, 14.7, 22.3, 24.3, 26.6, 31.3, 35.4, 36.4, 30.0, 25.6, 22.5, 18.8, 13.7, 16.5, 21.0, 23.4, 30.1, 29.7], '최저': [-7.7, -5.7, -2.3, 5.0, 12.8, 15.4, 21.2, 18.7, 14.5, 7.3, -1.0, -6.1, -9.9, -9.6, -0.7, 3.0, 9.8, 15.1, 17.8, 21.2, 14.9, 7.9, 2.7, -7.1, -4.4, -4.2, 0.5, 2.1, 11.0, 15.5]}

In [6]:
for key, value in dt.items() :
    print(key , value)

일시 ['2017-01-01', '2017-02-01', '2017-03-01', '2017-04-01', '2017-05-01', '2017-06-01', '2017-07-01', '2017-08-01', '2017-09-01', '2017-10-01', '2017-11-01', '2017-12-01', '2018-01-01', '2018-02-01', '2018-03-01', '2018-04-01', '2018-05-01', '2018-06-01', '2018-07-01', '2018-08-01', '2018-09-01', '2018-10-01', '2018-11-01', '2018-12-01', '2019-01-01', '2019-02-01', '2019-03-01', '2019-04-01', '2019-05-01', '2019-06-01']
평균 [4.1, 5.5, 9.0, 15.0, 19.0, 21.3, 26.1, 27.0, 22.6, 18.1, 11.2, 3.6, 1.9, 3.9, 10.0, 14.5, 17.8, 21.5, 26.7, 27.9, 21.9, 16.4, 12.4, 5.7, 4.5, 6.6, 10.5, 13.4, 19.3, 21.1]
최고 [15.1, 17.7, 18.1, 23.2, 28.2, 30.4, 32.7, 36.2, 29.7, 28.7, 23.6, 14.5, 14.0, 14.7, 22.3, 24.3, 26.6, 31.3, 35.4, 36.4, 30.0, 25.6, 22.5, 18.8, 13.7, 16.5, 21.0, 23.4, 30.1, 29.7]
최저 [-7.7, -5.7, -2.3, 5.0, 12.8, 15.4, 21.2, 18.7, 14.5, 7.3, -1.0, -6.1, -9.9, -9.6, -0.7, 3.0, 9.8, 15.1, 17.8, 21.2, 14.9, 7.9, 2.7, -7.1, -4.4, -4.2, 0.5, 2.1, 11.0, 15.5]

In [9]:
with open('/content/drive/My Drive/PythonWork/PythonBasic/04/부산시기온.csv','r',encoding='utf-8') as fp:
    data = fp.readlines() 

dt = {'일시':[], '평균':[], '최고':[], '최저':[]}
for i in range(1,len(data)):
    line = data[i].replace('\n', '')

    #if line[:2] == '일시' : continue
    item = line.split(',')
    dt['일시'].append(item[0])
    dt['평균'].append(float(item[1]))
    dt['최고'].append(float(item[2]))
    dt['최저'].append(float(item[3]))

print(type(dt))
print(dt)

<class 'dict'>
{'일시': ['2017-01-01', '2017-02-01', '2017-03-01', '2017-04-01', '2017-05-01', '2017-06-01', '2017-07-01', '2017-08-01', '2017-09-01', '2017-10-01', '2017-11-01', '2017-12-01', '2018-01-01', '2018-02-01', '2018-03-01', '2018-04-01', '2018-05-01', '2018-06-01', '2018-07-01', '2018-08-01', '2018-09-01', '2018-10-01', '2018-11-01', '2018-12-01', '2019-01-01', '2019-02-01', '2019-03-01', '2019-04-01', '2019-05-01', '2019-06-01'], '평균': [4.1, 5.5, 9.0, 15.0, 19.0, 21.3, 26.1, 27.0, 22.6, 18.1, 11.2, 3.6, 1.9, 3.9, 10.0, 14.5, 17.8, 21.5, 26.7, 27.9, 21.9, 16.4, 12.4, 5.7, 4.5, 6.6, 10.5, 13.4, 19.3, 21.1], '최고': [15.1, 17.7, 18.1, 23.2, 28.2, 30.4, 32.7, 36.2, 29.7, 28.7, 23.6, 14.5, 14.0, 14.7, 22.3, 24.3, 26.6, 31.3, 35.4, 36.4, 30.0, 25.6, 22.5, 18.8, 13.7, 16.5, 21.0, 23.4, 30.1, 29.7], '최저': [-7.7, -5.7, -2.3, 5.0, 12.8, 15.4, 21.2, 18.7, 14.5, 7.3, -1.0, -6.1, -9.9, -9.6, -0.7, 3.0, 9.8, 15.1, 17.8, 21.2, 14.9, 7.9, 2.7, -7.1, -4.4, -4.2, 0.5, 2.1, 11.0, 15.5]}

In [10]:
with open('/content/drive/My Drive/PythonWork/PythonBasic/04/부산시기온.csv','r',encoding='utf-8') as fp:
    data = fp.readlines() 

dt = {'일시':[], '평균':[], '최고':[], '최저':[]}
for i in data[1:]:
    line = i.replace('\n', '') 
    
    item = line.split(',')
    dt['일시'].append(item[0])
    dt['평균'].append(float(item[1]))
    dt['최고'].append(float(item[2]))
    dt['최저'].append(float(item[3]))

print(type(dt))
print(dt)

<class 'dict'>
{'일시': ['2017-01-01', '2017-02-01', '2017-03-01', '2017-04-01', '2017-05-01', '2017-06-01', '2017-07-01', '2017-08-01', '2017-09-01', '2017-10-01', '2017-11-01', '2017-12-01', '2018-01-01', '2018-02-01', '2018-03-01', '2018-04-01', '2018-05-01', '2018-06-01', '2018-07-01', '2018-08-01', '2018-09-01', '2018-10-01', '2018-11-01', '2018-12-01', '2019-01-01', '2019-02-01', '2019-03-01', '2019-04-01', '2019-05-01', '2019-06-01'], '평균': [4.1, 5.5, 9.0, 15.0, 19.0, 21.3, 26.1, 27.0, 22.6, 18.1, 11.2, 3.6, 1.9, 3.9, 10.0, 14.5, 17.8, 21.5, 26.7, 27.9, 21.9, 16.4, 12.4, 5.7, 4.5, 6.6, 10.5, 13.4, 19.3, 21.1], '최고': [15.1, 17.7, 18.1, 23.2, 28.2, 30.4, 32.7, 36.2, 29.7, 28.7, 23.6, 14.5, 14.0, 14.7, 22.3, 24.3, 26.6, 31.3, 35.4, 36.4, 30.0, 25.6, 22.5, 18.8, 13.7, 16.5, 21.0, 23.4, 30.1, 29.7], '최저': [-7.7, -5.7, -2.3, 5.0, 12.8, 15.4, 21.2, 18.7, 14.5, 7.3, -1.0, -6.1, -9.9, -9.6, -0.7, 3.0, 9.8, 15.1, 17.8, 21.2, 14.9, 7.9, 2.7, -7.1, -4.4, -4.2, 0.5, 2.1, 11.0, 15.5]}

##Series
+ index로 value를 구분하는  1차원 자료구조

In [11]:
tempavg = dt['평균']
print(tempavg)
print(type(tempavg))

[4.1, 5.5, 9.0, 15.0, 19.0, 21.3, 26.1, 27.0, 22.6, 18.1, 11.2, 3.6, 1.9, 3.9, 10.0, 14.5, 17.8, 21.5, 26.7, 27.9, 21.9, 16.4, 12.4, 5.7, 4.5, 6.6, 10.5, 13.4, 19.3, 21.1]
<class 'list'>

+ **리스트(list)를 판다스 시리즈(series)로 만들기**

In [12]:
#판다스 series 만들기
ds = pd.Series(tempavg)
print(ds)
print(type(ds))

0      4.1
1      5.5
2      9.0
3     15.0
4     19.0
5     21.3
6     26.1
7     27.0
8     22.6
9     18.1
10    11.2
11     3.6
12     1.9
13     3.9
14    10.0
15    14.5
16    17.8
17    21.5
18    26.7
19    27.9
20    21.9
21    16.4
22    12.4
23     5.7
24     4.5
25     6.6
26    10.5
27    13.4
28    19.3
29    21.1
dtype: float64
<class 'pandas.core.series.Series'>

+ **인덱스와 값 추출**

In [13]:
#인덱스와 값 추출
print(ds.index)
print(ds.keys())
print(ds.values)

RangeIndex(start=0, stop=30, step=1)
RangeIndex(start=0, stop=30, step=1)
[ 4.1  5.5  9.  15.  19.  21.3 26.1 27.  22.6 18.1 11.2  3.6  1.9  3.9
 10.  14.5 17.8 21.5 26.7 27.9 21.9 16.4 12.4  5.7  4.5  6.6 10.5 13.4
 19.3 21.1]

+ **인덱스로 시리즈 데이터 가져오기**

In [14]:
#series 데이터 가져오기
ds1 = ds[11:16]
print(ds1)

11     3.6
12     1.9
13     3.9
14    10.0
15    14.5
dtype: float64

In [15]:
ds[11]

3.6

In [19]:
ds[11,16]

KeyError: ignored

In [22]:
ds2 = ds[[11,16]]
print(ds2)

11     3.6
16    17.8
dtype: float64

In [31]:
ds2 = ds[11:13]
ds21 = ds[16:17]

ds2 = ds2.append(ds21)
print(type(ds2))
print(ds2)

<class 'pandas.core.series.Series'>
11     3.6
12     1.9
16    17.8
dtype: float64

+ **인덱스로 시리즈 조건에 맞는 데이터 가져오기**

In [ ]:
#series 조건에 맞는 데이터 가져오기
ds2 = ds[ds.index > 20]
ds2

21    16.4
22    12.4
23     5.7
24     4.5
25     6.6
26    10.5
27    13.4
28    19.3
29    21.1
dtype: float64

In [34]:
#series 조건에 맞는 데이터 가져오기
ds2 = ds[ds.index > 20]
ds2

21    16.4
22    12.4
23     5.7
24     4.5
25     6.6
26    10.5
27    13.4
28    19.3
29    21.1
dtype: float64

In [ ]:
ds2 = ds[ds > 20]
ds2

5     21.3
6     26.1
7     27.0
8     22.6
17    21.5
18    26.7
19    27.9
20    21.9
29    21.1
dtype: float64

+ **시리즈(series) 인덱스 변경하기**

In [35]:
dsDay = dt['일시']
dsDay[:5]

['2017-01-01', '2017-02-01', '2017-03-01', '2017-04-01', '2017-05-01']

In [37]:
print(type(tempavg))
print(type(dsDay))

<class 'list'>
<class 'list'>

In [38]:
#series 인덱스 지정하기 
ds = pd.Series(tempavg, index = dsDay)
print(ds)
print(type(ds))

2017-01-01     4.1
2017-02-01     5.5
2017-03-01     9.0
2017-04-01    15.0
2017-05-01    19.0
2017-06-01    21.3
2017-07-01    26.1
2017-08-01    27.0
2017-09-01    22.6
2017-10-01    18.1
2017-11-01    11.2
2017-12-01     3.6
2018-01-01     1.9
2018-02-01     3.9
2018-03-01    10.0
2018-04-01    14.5
2018-05-01    17.8
2018-06-01    21.5
2018-07-01    26.7
2018-08-01    27.9
2018-09-01    21.9
2018-10-01    16.4
2018-11-01    12.4
2018-12-01     5.7
2019-01-01     4.5
2019-02-01     6.6
2019-03-01    10.5
2019-04-01    13.4
2019-05-01    19.3
2019-06-01    21.1
dtype: float64
<class 'pandas.core.series.Series'>

In [39]:
#인덱스와 값 추출
print(ds.index)
print(ds.keys())
print(ds.values)

Index(['2017-01-01', '2017-02-01', '2017-03-01', '2017-04-01', '2017-05-01',
       '2017-06-01', '2017-07-01', '2017-08-01', '2017-09-01', '2017-10-01',
       '2017-11-01', '2017-12-01', '2018-01-01', '2018-02-01', '2018-03-01',
       '2018-04-01', '2018-05-01', '2018-06-01', '2018-07-01', '2018-08-01',
       '2018-09-01', '2018-10-01', '2018-11-01', '2018-12-01', '2019-01-01',
       '2019-02-01', '2019-03-01', '2019-04-01', '2019-05-01', '2019-06-01'],
      dtype='object')
Index(['2017-01-01', '2017-02-01', '2017-03-01', '2017-04-01', '2017-05-01',
       '2017-06-01', '2017-07-01', '2017-08-01', '2017-09-01', '2017-10-01',
       '2017-11-01', '2017-12-01', '2018-01-01', '2018-02-01', '2018-03-01',
       '2018-04-01', '2018-05-01', '2018-06-01', '2018-07-01', '2018-08-01',
       '2018-09-01', '2018-10-01', '2018-11-01', '2018-12-01', '2019-01-01',
       '2019-02-01', '2019-03-01', '2019-04-01', '2019-05-01', '2019-06-01'],
      dtype='object')
[ 4.1  5.5  9.  15.  19.  21.3 26.1 27.  22.6 18.1 11.2  3.6  1.9  3.9
 10.  14.5 17.8 21.5 26.7 27.9 21.9 16.4 12.4  5.7  4.5  6.6 10.5 13.4
 19.3 21.1]

In [41]:
ds[['2017-03-01','2018-03-01']]

2017-03-01     9.0
2018-03-01    10.0
dtype: float64

In [42]:
#series 데이터 가져오기 
ds1 = ds['2018-01-01':'2018-12-01']
print(ds1)

2018-01-01     1.9
2018-02-01     3.9
2018-03-01    10.0
2018-04-01    14.5
2018-05-01    17.8
2018-06-01    21.5
2018-07-01    26.7
2018-08-01    27.9
2018-09-01    21.9
2018-10-01    16.4
2018-11-01    12.4
2018-12-01     5.7
dtype: float64

In [ ]:
#series 데이터 가져오기 
ds1 = ds[['2018-01-01','2018-12-01']]
print(ds1)

2018-01-01    1.9
2018-12-01    5.7
dtype: float64

In [ ]:
#series 조건에 맞는 데이터 가져오기 
ds1 = ds[ds.index >= '2019-01-01']
print(ds1)

2019-01-01     4.5
2019-02-01     6.6
2019-03-01    10.5
2019-04-01    13.4
2019-05-01    19.3
2019-06-01    21.1
dtype: float64

### series 기초 통계
+ mean() : 평균
+ max() : 최대
+ min() : 최소
+ std() : 표준편차
+ describe() : 요약 통계량 계산

In [43]:
print(f'평균 : {ds.mean():0.2f}')
print(f'최대 : {ds.max():0.2f}')
print(f'최소 : {ds.min():0.2f}')
print(f'표준편차 : {ds.std():0.2f}')
print(f'요약 \n{ds.describe() }')

평균 : 14.62
최대 : 27.90
최소 : 1.90
표준편차 : 7.99
요약
count    30.000000
mean     14.616667
std       7.989048
min       1.900000
25%       7.200000
50%      14.750000
75%      21.250000
max      27.900000
dtype: float64

In [45]:
dstemp = ds[ds > 14.6]
dstemp

2017-04-01    15.0
2017-05-01    19.0
2017-06-01    21.3
2017-07-01    26.1
2017-08-01    27.0
2017-09-01    22.6
2017-10-01    18.1
2018-05-01    17.8
2018-06-01    21.5
2018-07-01    26.7
2018-08-01    27.9
2018-09-01    21.9
2018-10-01    16.4
2019-05-01    19.3
2019-06-01    21.1
dtype: float64

In [ ]:
#시리즈 값중에서 평균값보다 큰 행을 추출

dsup = ds[ds > ds.mean()]
dsup

2017-04-01    15.0
2017-05-01    19.0
2017-06-01    21.3
2017-07-01    26.1
2017-08-01    27.0
2017-09-01    22.6
2017-10-01    18.1
2018-05-01    17.8
2018-06-01    21.5
2018-07-01    26.7
2018-08-01    27.9
2018-09-01    21.9
2018-10-01    16.4
2019-05-01    19.3
2019-06-01    21.1
dtype: float64

### series 자주사용되는 메소드
+ replace() : 특정값을 가진 요소 값을 변경
+ equals() : 시리즈와 시리즈가 같은지 비교
+ isin() : 시리즈에 포함된 값이 있는지 확인 
+ drop_duplicates() : 중복값이 없는 시리즈 반환
+ append() : 2개이상의 시리즈 연결 
+ sort_index() : 인덱스로 정렬
 - ascending = False : 역순 정렬 옵션
+ sort_values() : 값으로 정렬
+ to_frame() : 시리즈를 데이터프레임으로 변경

In [47]:
#시리즈 복사
ds0 = ds
print(ds0)
print(type(ds0))

2017-01-01     4.1
2017-02-01     5.5
2017-03-01     9.0
2017-04-01    15.0
2017-05-01    19.0
2017-06-01    21.3
2017-07-01    26.1
2017-08-01    27.0
2017-09-01    22.6
2017-10-01    18.1
2017-11-01    11.2
2017-12-01     3.6
2018-01-01     1.9
2018-02-01     3.9
2018-03-01    10.0
2018-04-01    14.5
2018-05-01    17.8
2018-06-01    21.5
2018-07-01    26.7
2018-08-01    27.9
2018-09-01    21.9
2018-10-01    16.4
2018-11-01    12.4
2018-12-01     5.7
2019-01-01     4.5
2019-02-01     6.6
2019-03-01    10.5
2019-04-01    13.4
2019-05-01    19.3
2019-06-01    21.1
dtype: float64
<class 'pandas.core.series.Series'>

+ replace() : 특정값을 가진 요소 값을 변경

In [48]:
ds0[ds0 == 21.3]

2017-06-01    21.3
dtype: float64

In [49]:
#값 변경 : 21.3인 값을 21.5로 변경
ds0 = ds0.replace(21.3, 21.5)
ds0['2017-06-01']

21.5

+ equals() : 시리즈와 시리즈가 같은지 비교

In [50]:
ds

2017-01-01     4.1
2017-02-01     5.5
2017-03-01     9.0
2017-04-01    15.0
2017-05-01    19.0
2017-06-01    21.3
2017-07-01    26.1
2017-08-01    27.0
2017-09-01    22.6
2017-10-01    18.1
2017-11-01    11.2
2017-12-01     3.6
2018-01-01     1.9
2018-02-01     3.9
2018-03-01    10.0
2018-04-01    14.5
2018-05-01    17.8
2018-06-01    21.5
2018-07-01    26.7
2018-08-01    27.9
2018-09-01    21.9
2018-10-01    16.4
2018-11-01    12.4
2018-12-01     5.7
2019-01-01     4.5
2019-02-01     6.6
2019-03-01    10.5
2019-04-01    13.4
2019-05-01    19.3
2019-06-01    21.1
dtype: float64

In [51]:
ds0

2017-01-01     4.1
2017-02-01     5.5
2017-03-01     9.0
2017-04-01    15.0
2017-05-01    19.0
2017-06-01    21.5
2017-07-01    26.1
2017-08-01    27.0
2017-09-01    22.6
2017-10-01    18.1
2017-11-01    11.2
2017-12-01     3.6
2018-01-01     1.9
2018-02-01     3.9
2018-03-01    10.0
2018-04-01    14.5
2018-05-01    17.8
2018-06-01    21.5
2018-07-01    26.7
2018-08-01    27.9
2018-09-01    21.9
2018-10-01    16.4
2018-11-01    12.4
2018-12-01     5.7
2019-01-01     4.5
2019-02-01     6.6
2019-03-01    10.5
2019-04-01    13.4
2019-05-01    19.3
2019-06-01    21.1
dtype: float64

In [ ]:
#두 시리즈 같은지 비교 
print(ds0.equals(ds))

False

+ isin() : 시리즈에 포함된 값이 있는지 확인

In [52]:
ds0[ds in [21.5, 22. 5]]

SyntaxError: ignored

In [54]:
#값에 리스트 내용이 있는지 확인 
ds215 = ds0.isin([21.5])
type(ds215)

pandas.core.series.Series

In [55]:
ds215.sum()

2

In [56]:
#값에 리스트 내용이 있는 항목의 개수 
#시리즈의 값이 21.5인 행의 개수 
ds0.isin([21.5]).sum()

2

+ drop_duplicates() : 중복값이 없는 시리즈 반환

In [57]:
ds0.describe()

count    30.000000
mean     14.623333
std       7.994899
min       1.900000
25%       7.200000
50%      14.750000
75%      21.400000
max      27.900000
dtype: float64

In [58]:
#값이 동일한 
ds0 = ds0.drop_duplicates()
ds0.describe()

count    29.000000
mean     14.386207
std       8.028330
min       1.900000
25%       6.600000
50%      14.500000
75%      21.100000
max      27.900000
dtype: float64

+ append() : 2개이상의 시리즈 연결

In [60]:
ds1 = ds[:'2017-06-01']
ds2 = ds['2018-01-01':'2018-06-01']
print(ds1)
print(ds2)

2017-01-01     4.1
2017-02-01     5.5
2017-03-01     9.0
2017-04-01    15.0
2017-05-01    19.0
2017-06-01    21.3
dtype: float64
2018-01-01     1.9
2018-02-01     3.9
2018-03-01    10.0
2018-04-01    14.5
2018-05-01    17.8
2018-06-01    21.5
dtype: float64

In [61]:
ds12 = ds1.append(ds2)
ds12

2017-01-01     4.1
2017-02-01     5.5
2017-03-01     9.0
2017-04-01    15.0
2017-05-01    19.0
2017-06-01    21.3
2018-01-01     1.9
2018-02-01     3.9
2018-03-01    10.0
2018-04-01    14.5
2018-05-01    17.8
2018-06-01    21.5
dtype: float64

In [62]:
ds21 = ds2.append(ds1)
ds21

2018-01-01     1.9
2018-02-01     3.9
2018-03-01    10.0
2018-04-01    14.5
2018-05-01    17.8
2018-06-01    21.5
2017-01-01     4.1
2017-02-01     5.5
2017-03-01     9.0
2017-04-01    15.0
2017-05-01    19.0
2017-06-01    21.3
dtype: float64

+ sort_index() : 인덱스로 정렬
 - ascending = False : 역순 정렬 옵션

In [63]:
ds21 = ds21.sort_index()
ds21

2017-01-01     4.1
2017-02-01     5.5
2017-03-01     9.0
2017-04-01    15.0
2017-05-01    19.0
2017-06-01    21.3
2018-01-01     1.9
2018-02-01     3.9
2018-03-01    10.0
2018-04-01    14.5
2018-05-01    17.8
2018-06-01    21.5
dtype: float64

In [64]:
ds21 = ds21.sort_index(ascending = False)
ds21

2018-06-01    21.5
2018-05-01    17.8
2018-04-01    14.5
2018-03-01    10.0
2018-02-01     3.9
2018-01-01     1.9
2017-06-01    21.3
2017-05-01    19.0
2017-04-01    15.0
2017-03-01     9.0
2017-02-01     5.5
2017-01-01     4.1
dtype: float64

+ sort_values() : 값으로 정렬

In [66]:
ds21 = ds21.sort_values(ascending = False)
ds21

2018-06-01    21.5
2017-06-01    21.3
2017-05-01    19.0
2018-05-01    17.8
2017-04-01    15.0
2018-04-01    14.5
2018-03-01    10.0
2017-03-01     9.0
2017-02-01     5.5
2017-01-01     4.1
2018-02-01     3.9
2018-01-01     1.9
dtype: float64

+ to_frame() : 시리즈를 데이터프레임으로 변경

In [67]:
ds21 = ds21.to_frame()
print(type(ds21))

<class 'pandas.core.frame.DataFrame'>

### series 연산 (인덱스가 같은 것끼리 연산)
+ \+ : 같은 길이의 시리즈와 시리즈 더하기
+ \* : 같은 길이의 시리즈와 시리즈 곱하기

In [68]:
ds1

2017-01-01     4.1
2017-02-01     5.5
2017-03-01     9.0
2017-04-01    15.0
2017-05-01    19.0
2017-06-01    21.3
dtype: float64

In [69]:
ds2

2018-01-01     1.9
2018-02-01     3.9
2018-03-01    10.0
2018-04-01    14.5
2018-05-01    17.8
2018-06-01    21.5
dtype: float64

In [ ]:
print(ds1 + 1)
print(ds2 * 3)

2017-01-01     5.1
2017-02-01     6.5
2017-03-01    10.0
2017-04-01    16.0
2017-05-01    20.0
2017-06-01    22.3
dtype: float64
2018-01-01     5.7
2018-02-01    11.7
2018-03-01    30.0
2018-04-01    43.5
2018-05-01    53.4
2018-06-01    64.5
dtype: float64

In [ ]:
ds1 + ds2

2017-01-01   NaN
2017-02-01   NaN
2017-03-01   NaN
2017-04-01   NaN
2017-05-01   NaN
2017-06-01   NaN
2018-01-01   NaN
2018-02-01   NaN
2018-03-01   NaN
2018-04-01   NaN
2018-05-01   NaN
2018-06-01   NaN
dtype: float64

#### 시리즈 인덱스 변경

In [70]:
ds1.index

Index(['2017-01-01', '2017-02-01', '2017-03-01', '2017-04-01', '2017-05-01',
       '2017-06-01'],
      dtype='object')

In [71]:
ds1.index = list(range(len(ds1)))
ds1.index

Int64Index([0, 1, 2, 3, 4, 5], dtype='int64')

In [72]:
ds1

0     4.1
1     5.5
2     9.0
3    15.0
4    19.0
5    21.3
dtype: float64

In [73]:
ds2.index = list(range(len(ds2)))
ds2

0     1.9
1     3.9
2    10.0
3    14.5
4    17.8
5    21.5
dtype: float64

In [ ]:
ds1 + ds2

0     6.0
1     9.4
2    19.0
3    29.5
4    36.8
5    42.8
dtype: float64

In [ ]:
ds1 * ds2

0      7.79
1     21.45
2     90.00
3    217.50
4    338.20
5    457.95
dtype: float64



---
해결문제) 부산쓰레기발생2017년.csv 파일에서 '금정구'의 연간 매립처리량과 소각처리량, 음식물류발생량 정보를 추출하시오.
+ 한글 인코딩 : euc-kr , cp949


```
연간(톤):매립처리량       7240.0
연간(톤):소각처리량        222.0
연간(톤):재활용처리량     56153.0
연간(톤):음식물류발생량    21273.0
```

In [74]:
with open('/content/drive/My Drive/PythonWork/PythonBasic/04/부산쓰레기발생2017년.csv','r',encoding='cp949') as fp:
    data = fp.readlines()

data

['항목,구분 ,중구 ,서구 ,동구 ,영도구 ,부산진구 ,동래구 ,남구 ,북구 ,해운대구,사하구 ,금정구 ,강서구 ,연제구 ,수영구 ,사상구 ,기장군 \n',
 '매립처리량,연간(톤),3034,2323,1653,1219,17393,9195,8042,10498,5251,3089,7240,9742,1831,2205,9937,2290\n',
 '매립처리량,일일(톤),8,7,5,3,48,25,22,29,14,8,20,27,5,6,27,6\n',
 '소각처리량,연간(톤),13729,10446,8297,8651,538,17,158,97,31924,32671,222,4788,14521,11987,216,13687\n',
 '소각처리량,일일(톤),38,29,23,24,2,0,0,0,87,89,1,13,40,33,0,37\n',
 '재활용처리량,연간(톤),9082,21301,17968,24616,88453,56526,57921,63879,64667,70923,56153,25977,37115,28135,57110,15170\n',
 '재활용처리량,일일(톤),25,58,49,68,242,155,159,175,177,194,154,71,102,77,156,42\n',
 '음식물류발생량,연간(톤),5154,8779,6399,9522,27119,20128,15548,24201,40043,21183,21273,10810,14122,13289,24161,16648\n',
 '음식물류발생량,일일(톤),14,24,18,26,74,55,43,66,110,58,58,30,39,36,66,46\n']

In [75]:
lines = [] 
for idx in range(1,len(data), 2) :
    lines.append(data[idx])

lines

['매립처리량,연간(톤),3034,2323,1653,1219,17393,9195,8042,10498,5251,3089,7240,9742,1831,2205,9937,2290\n',
 '소각처리량,연간(톤),13729,10446,8297,8651,538,17,158,97,31924,32671,222,4788,14521,11987,216,13687\n',
 '재활용처리량,연간(톤),9082,21301,17968,24616,88453,56526,57921,63879,64667,70923,56153,25977,37115,28135,57110,15170\n',
 '음식물류발생량,연간(톤),5154,8779,6399,9522,27119,20128,15548,24201,40043,21183,21273,10810,14122,13289,24161,16648\n']

In [79]:
idxlt = []
vlt = []
for line in lines :
    item = line.split(',')

    idxlt.append(item[1] + ':' + item[0])
    vlt.append(int(item[12]))

print(idxlt)
print(vlt)

['연간(톤):매립처리량', '연간(톤):소각처리량', '연간(톤):재활용처리량', '연간(톤):음식물류발생량']
[7240, 222, 56153, 21273]

In [84]:
ds = pd.Series(vlt , index = idxlt)
ds.describe()

count        4.000000
mean     21222.000000
std      24877.524569
min        222.000000
25%       5485.500000
50%      14256.500000
75%      29993.000000
max      56153.000000
dtype: float64