<a href="https://colab.research.google.com/github/cybermin/pythonbasic/blob/master/work/07/ex24_dataframe1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 판다스(pandas)
+ 파이썬에서 사용하는 데이터분석 라이브러리

+ 행과 열로 이루어진 데이터 객체를 만들어 다룰 수 있게 되며 보다 안정적으로 대용량의 데이터들을 처리하는데 매우 편리한 도구

+ NumPy를 기반으로 구축되었으며 과학 컴퓨팅 환경 내에서 다른 많은 타사 라이브러리와 잘 통합되도록 설계

In [1]:
import pandas as pd


##DataFrame
+ 2차원 자료구조인 DataFrame는 행과 열이 있는 테이블 데이터
+ 딕션너리를 데이터 프레임으로 변경
 - 딕션너리 키 : 열(column)
 - 딕션너리 값 : 행(row)

In [3]:
dt = {'일시' : ['2017-01-01', '2017-02-01'], '평균' : [4.1, 5.5] , '최고' : [15.1, 17.7], '최저' : [-7.7,-5.7]}
dt

{'일시': ['2017-01-01', '2017-02-01'],
 '최고': [15.1, 17.7],
 '최저': [-7.7, -5.7],
 '평균': [4.1, 5.5]}

In [13]:
idx = list(dt.keys())
v = ['2017-01-01',15.1, -7.7 ,4.1]
print(idx)
print(v)

['일시', '평균', '최고', '최저']
['2017-01-01', 15.1, -7.7, 4.1]

In [14]:
ds = pd.Series(v, index = idx)
ds

일시    2017-01-01
평균          15.1
최고          -7.7
최저           4.1
dtype: object

In [10]:
ds = pd.Series(dt)
print(type(ds))
print(ds)

<class 'pandas.core.series.Series'>
일시    [2017-01-01, 2017-02-01]
평균                  [4.1, 5.5]
최고                [15.1, 17.7]
최저                [-7.7, -5.7]
dtype: object

In [11]:
ds['일시']

['2017-01-01', '2017-02-01']

In [4]:
#딕션너리를 데이터 프레임으로 변경 
#키가 열이 되고 값이 행이됨
df = pd.DataFrame(dt)
df

           일시   평균    최고   최저
0  2017-01-01  4.1  15.1 -7.7
1  2017-02-01  5.5  17.7 -5.7

In [5]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

## 외부데이터 가져오기
+ csv 읽기
 - 한글 파일명을 사용할 경우 : df = pd.read_csv(‘파일명‘, engine='python')
 - 파일 내용 한글이 깨지는 경우 : df = pd.read_csv(‘파일명‘, engine='python', encoding='cp949')

```
df = pd.read_csv(‘파일명‘)
```

+ 엑셀 읽기
 - 한글 파일명을 사용할 경우 : df = pd.read_excel(‘파일명‘)

```
df = pd.read_excel(‘파일명‘)
```

In [ ]:
df = pd.read_csv('/content/drive/My Drive/PythonWork/PythonBasic/04/부산쓰레기발생2017년.csv', encoding='CP949')
df

In [15]:
df.index

RangeIndex(start=0, stop=8, step=1)

In [16]:
df.columns

Index(['항목', '구분 ', '중구 ', '서구 ', '동구 ', '영도구 ', '부산진구 ', '동래구 ', '남구 ', '북구 ',
       '해운대구', '사하구 ', '금정구 ', '강서구 ', '연제구 ', '수영구 ', '사상구 ', '기장군 '],
      dtype='object')

In [ ]:
df = pd.read_excel('/content/drive/My Drive/PythonWork/PythonBasic/04/부산쓰레기발생2017년.xlsx')
df

+ 데이터프레임의 정보

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 18 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   항목      8 non-null      object
 1   구분      8 non-null      object
 2   중구      8 non-null      int64
 3   서구      8 non-null      int64
 4   동구      8 non-null      int64
 5   영도구     8 non-null      int64
 6   부산진구    8 non-null      int64
 7   동래구     8 non-null      int64
 8   남구      8 non-null      int64
 9   북구      8 non-null      int64
 10  해운대구    8 non-null      int64
 11  사하구     8 non-null      int64
 12  금정구     8 non-null      int64
 13  강서구     8 non-null      int64
 14  연제구     8 non-null      int64
 15  수영구     8 non-null      int64
 16  사상구     8 non-null      int64
 17  기장군     8 non-null      int64
dtypes: int64(16), object(2)
memory usage: 1.2+ KB

+ 데이터프레임의 인덱스 
 - 열의 인덱스 : 데이터프레임.colums
 - 행의 인덱스 : 데이터프레임.index

In [22]:
df['동래구 ']

0     9195
1       25
2       17
3        0
4    56526
5      155
6    20128
7       55
Name: 동래구 , dtype: int64

In [18]:
#열 인덱스
print(df.columns)

Index(['항목', '구분 ', '중구 ', '서구 ', '동구 ', '영도구 ', '부산진구 ', '동래구 ', '남구 ', '북구 ',
       '해운대구', '사하구 ', '금정구 ', '강서구 ', '연제구 ', '수영구 ', '사상구 ', '기장군 '],
      dtype='object')

In [23]:
idx = [item.strip() for item in df.columns]
idx

['항목',
 '구분',
 '중구',
 '서구',
 '동구',
 '영도구',
 '부산진구',
 '동래구',
 '남구',
 '북구',
 '해운대구',
 '사하구',
 '금정구',
 '강서구',
 '연제구',
 '수영구',
 '사상구',
 '기장군']

In [19]:
#행 인덱스
print(df.index)

RangeIndex(start=0, stop=8, step=1)

+ 데이터프레임의 인덱스 변경
 - 열인덱스 명 변경 : 데이터프레임.column = [열명인덱스]
 - 열항목 중 하나를 인덱스로 사용 : 데이터프레임.set_index(열명)
 - 행인덱스로 사용 : 데이터프레임.reset_index()

In [24]:
#열 인덱스명 변경
df.columns = [item.strip() for item in df.columns]
df.columns

Index(['항목', '구분', '중구', '서구', '동구', '영도구', '부산진구', '동래구', '남구', '북구', '해운대구',
       '사하구', '금정구', '강서구', '연제구', '수영구', '사상구', '기장군'],
      dtype='object')

In [25]:
df['동래구']

0     9195
1       25
2       17
3        0
4    56526
5      155
6    20128
7       55
Name: 동래구, dtype: int64

In [27]:
df.head(2)

      항목     구분    중구    서구    동구   영도구  ...   금정구   강서구   연제구   수영구   사상구   기장군
0  매립처리량  연간(톤)  3034  2323  1653  1219  ...  7240  9742  1831  2205  9937  2290
1  매립처리량  일일(톤)     8     7     5     3  ...    20    27     5     6    27     6

[2 rows x 18 columns]

In [28]:
#행 인덱스 변경
df = df.set_index('항목')
df.head(2)

          구분    중구    서구    동구   영도구   부산진구  ...   금정구   강서구   연제구   수영구   사상구   기장군
항목                                           ...
매립처리량  연간(톤)  3034  2323  1653  1219  17393  ...  7240  9742  1831  2205  9937  2290
매립처리량  일일(톤)     8     7     5     3     48  ...    20    27     5     6    27     6

[2 rows x 17 columns]

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, 매립처리량 to 음식물류발생량
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구분      8 non-null      object
 1   중구      8 non-null      int64
 2   서구      8 non-null      int64
 3   동구      8 non-null      int64
 4   영도구     8 non-null      int64
 5   부산진구    8 non-null      int64
 6   동래구     8 non-null      int64
 7   남구      8 non-null      int64
 8   북구      8 non-null      int64
 9   해운대구    8 non-null      int64
 10  사하구     8 non-null      int64
 11  금정구     8 non-null      int64
 12  강서구     8 non-null      int64
 13  연제구     8 non-null      int64
 14  수영구     8 non-null      int64
 15  사상구     8 non-null      int64
 16  기장군     8 non-null      int64
dtypes: int64(16), object(1)
memory usage: 1.1+ KB

In [31]:
df.loc['매립처리량']

          구분    중구    서구    동구   영도구   부산진구  ...   금정구   강서구   연제구   수영구   사상구   기장군
항목                                           ...
매립처리량  연간(톤)  3034  2323  1653  1219  17393  ...  7240  9742  1831  2205  9937  2290
매립처리량  일일(톤)     8     7     5     3     48  ...    20    27     5     6    27     6

[2 rows x 17 columns]

In [ ]:
#행 인덱스를 자료형으로 변경
df = df.reset_index()

In [36]:
df.head(2)

      항목     구분    중구    서구    동구   영도구  ...   금정구   강서구   연제구   수영구   사상구   기장군
0  매립처리량  연간(톤)  3034  2323  1653  1219  ...  7240  9742  1831  2205  9937  2290
1  매립처리량  일일(톤)     8     7     5     3  ...    20    27     5     6    27     6

[2 rows x 18 columns]

In [43]:
df2 = df.loc['연간(톤)']

In [45]:
df2.info()
df2 = df2.reset_index()
df2

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, 연간(톤) to 연간(톤)
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   항목      4 non-null      object
 1   중구      4 non-null      int64
 2   서구      4 non-null      int64
 3   동구      4 non-null      int64
 4   영도구     4 non-null      int64
 5   부산진구    4 non-null      int64
 6   동래구     4 non-null      int64
 7   남구      4 non-null      int64
 8   북구      4 non-null      int64
 9   해운대구    4 non-null      int64
 10  사하구     4 non-null      int64
 11  금정구     4 non-null      int64
 12  강서구     4 non-null      int64
 13  연제구     4 non-null      int64
 14  수영구     4 non-null      int64
 15  사상구     4 non-null      int64
 16  기장군     4 non-null      int64
dtypes: int64(16), object(1)
memory usage: 576.0+ bytes

      구분       항목     중구     서구     동구  ...    강서구    연제구    수영구    사상구    기장군
0  연간(톤)    매립처리량   3034   2323   1653  ...   9742   1831   2205   9937   2290
1  연간(톤)    소각처리량  13729  10446   8297  ...   4788  14521  11987    216  13687
2  연간(톤)   재활용처리량   9082  21301  17968  ...  25977  37115  28135  57110  15170
3  연간(톤)  음식물류발생량   5154   8779   6399  ...  10810  14122  13289  24161  16648

[4 rows x 18 columns]

In [ ]:
df = df.set_index('구분')

In [51]:
df = df.reset_index()
df.head(2)

      구분     항목    중구    서구    동구   영도구  ...   금정구   강서구   연제구   수영구   사상구   기장군
0  연간(톤)  매립처리량  3034  2323  1653  1219  ...  7240  9742  1831  2205  9937  2290
1  일일(톤)  매립처리량     8     7     5     3  ...    20    27     5     6    27     6

[2 rows x 18 columns]

+ 열과 행 자료 가져오기
 - 열 가져오기 : 데이터프레임[열인덱스]
 - 행 가져오기 : 데이터프레임[행인덱스]

In [52]:
df.columns

Index(['구분', '항목', '중구', '서구', '동구', '영도구', '부산진구', '동래구', '남구', '북구', '해운대구',
       '사하구', '금정구', '강서구', '연제구', '수영구', '사상구', '기장군'],
      dtype='object')

In [55]:
dftemp1 = df[ '동구']
dftemp2 = df[['중구', '서구', '동구']]

print(type(dftemp1))
print(type(dftemp2))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [57]:
dftemp2.describe()

                 중구            서구            동구
count      8.000000      8.000000      8.000000
mean    3885.500000   5370.875000   4301.500000
std     5154.228278   7695.575082   6407.015173
min        8.000000      7.000000      5.000000
25%       22.250000     27.750000     21.750000
50%     1536.000000   1190.500000    851.000000
75%     6136.000000   9195.750000   6873.500000
max    13729.000000  21301.000000  17968.000000

In [ ]:
#열가져오기
dfitem = df['항목']
print(type(dfitem))
print(dfitem)

<class 'pandas.core.series.Series'>
0      매립처리량
1      매립처리량
2      소각처리량
3      소각처리량
4     재활용처리량
5     재활용처리량
6    음식물류발생량
7    음식물류발생량
Name: 항목, dtype: object

In [ ]:
#열가져오기
df2 = df[['항목','구분','금정구']]
print(type(df2))
df2

<class 'pandas.core.frame.DataFrame'>

        항목     구분    금정구
0    매립처리량  연간(톤)   7240
1    매립처리량  일일(톤)     20
2    소각처리량  연간(톤)    222
3    소각처리량  일일(톤)      1
4   재활용처리량  연간(톤)  56153
5   재활용처리량  일일(톤)    154
6  음식물류발생량  연간(톤)  21273
7  음식물류발생량  일일(톤)     58

In [58]:
df.index

RangeIndex(start=0, stop=8, step=1)

In [61]:
dftemp1[dftemp1 > 15000]

4    17968
Name: 동구, dtype: int64

In [ ]:
#행 데이터 가져오기
df23 = df[2:4]
df23

      항목     구분     중구     서구    동구   영도구  ...  금정구   강서구    연제구    수영구  사상구    기장군
2  소각처리량  연간(톤)  13729  10446  8297  8651  ...  222  4788  14521  11987  216  13687
3  소각처리량  일일(톤)     38     29    23    24  ...    1    13     40     33    0     37

[2 rows x 18 columns]

In [62]:
#행 데이터 가져오기
df23 = df[df['항목'] == '매립처리량']
df23

      구분     항목    중구    서구    동구   영도구  ...   금정구   강서구   연제구   수영구   사상구   기장군
0  연간(톤)  매립처리량  3034  2323  1653  1219  ...  7240  9742  1831  2205  9937  2290
1  일일(톤)  매립처리량     8     7     5     3  ...    20    27     5     6    27     6

[2 rows x 18 columns]

In [63]:
df

      구분       항목     중구     서구     동구  ...    강서구    연제구    수영구    사상구    기장군
0  연간(톤)    매립처리량   3034   2323   1653  ...   9742   1831   2205   9937   2290
1  일일(톤)    매립처리량      8      7      5  ...     27      5      6     27      6
2  연간(톤)    소각처리량  13729  10446   8297  ...   4788  14521  11987    216  13687
3  일일(톤)    소각처리량     38     29     23  ...     13     40     33      0     37
4  연간(톤)   재활용처리량   9082  21301  17968  ...  25977  37115  28135  57110  15170
5  일일(톤)   재활용처리량     25     58     49  ...     71    102     77    156     42
6  연간(톤)  음식물류발생량   5154   8779   6399  ...  10810  14122  13289  24161  16648
7  일일(톤)  음식물류발생량     14     24     18  ...     30     39     36     66     46

[8 rows x 18 columns]



---
해결문제) 부산쓰레기발생2017년.csv 파일에서 '금정구, 해운대구, 수영구'의 연간 매립처리량과 소각처리량, 음식물류발생량 정보를 추출하시오.


```

항목	구분	금정구	해운대구	수영구
0	매립처리량	연간(톤)	7240	5251	2205
2	소각처리량	연간(톤)	222	31924	11987
4	재활용처리량	연간(톤)	56153	64667	28135
6	음식물류발생량	연간(톤)	21273	40043	13289
```



---

In [66]:
#방법 1
dfans = df[['항목', '구분', '금정구','해운대구', '수영구']]
dfans[dfans['구분'] == '연간(톤)']

        항목     구분    금정구   해운대구    수영구
0    매립처리량  연간(톤)   7240   5251   2205
2    소각처리량  연간(톤)    222  31924  11987
4   재활용처리량  연간(톤)  56153  64667  28135
6  음식물류발생량  연간(톤)  21273  40043  13289

In [69]:
#방법 1-1
dfans = df[['항목', '구분', '금정구','해운대구', '수영구']][df['구분'] == '연간(톤)']
dfans

        항목     구분    금정구   해운대구    수영구
0    매립처리량  연간(톤)   7240   5251   2205
2    소각처리량  연간(톤)    222  31924  11987
4   재활용처리량  연간(톤)  56153  64667  28135
6  음식물류발생량  연간(톤)  21273  40043  13289

In [70]:
#방법 2
dfans = df[df['구분'] == '연간(톤)']
dfans = dfans[['항목', '구분', '금정구','해운대구', '수영구']]
dfans

        항목     구분    금정구   해운대구    수영구
0    매립처리량  연간(톤)   7240   5251   2205
2    소각처리량  연간(톤)    222  31924  11987
4   재활용처리량  연간(톤)  56153  64667  28135
6  음식물류발생량  연간(톤)  21273  40043  13289

In [ ]:
df2 = df[['항목','구분','금정구','해운대구','수영구']]
df2

        항목     구분    금정구   해운대구    수영구
0    매립처리량  연간(톤)   7240   5251   2205
1    매립처리량  일일(톤)     20     14      6
2    소각처리량  연간(톤)    222  31924  11987
3    소각처리량  일일(톤)      1     87     33
4   재활용처리량  연간(톤)  56153  64667  28135
5   재활용처리량  일일(톤)    154    177     77
6  음식물류발생량  연간(톤)  21273  40043  13289
7  음식물류발생량  일일(톤)     58    110     36

In [ ]:
df2 = df2[df['구분'] == '연간(톤)']
df2

        항목     구분    금정구   해운대구    수영구
0    매립처리량  연간(톤)   7240   5251   2205
2    소각처리량  연간(톤)    222  31924  11987
4   재활용처리량  연간(톤)  56153  64667  28135
6  음식물류발생량  연간(톤)  21273  40043  13289