<a href="https://colab.research.google.com/github/cybermin/pythonbasic/blob/master/work/06/ex21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

해결문제)

daum 영화 사이트에서 2018, 2019년 박스 오피스 정보를 추출하여 텍스트 파일을 작성하시오,
작성된 텍스트 파일을 읽어서 년도별 박스 오피스의 순위별 평점 현황을 그래프로 그리시오.
+ https://movie.daum.net/boxoffice/yearly


```
2018,'신과함께-인과 연', 6.8, '2018.08.01'
2018,'어벤져스: 인피니티 워', 7.6, '2018.04.25'
2018,'보헤미안 랩소디', 8.9, '2018.10.31'
2018,'미션 임파서블: 폴아웃', 8.1, '2018.07.25'
2018,'신과함께-죄와 벌', 7.0, '2017.12.20'
2018,'쥬라기 월드: 폴른 킹덤', 7.1, '2018.06.06'
```

In [1]:
#한글 폰트 사용 : colab , 런타임 다시 시작 하기
%config InlineBackend.figure_format = 'retina'

!apt -qq -y install fonts-nanum

fonts-nanum is already the newest version (20170925-1).
The following package was automatically installed and is no longer required:
  libnvidia-common-440
Use 'apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 33 not upgraded.

In [2]:
from urllib.request import urlopen
from bs4 import BeautifulSoup as bs

import matplotlib.pyplot as plt

import matplotlib as mpl
import matplotlib.font_manager as fm
fontpath = '/usr/share/fonts/truetype/nanum/NanumBarunGothic.ttf'
font = fm.FontProperties(fname=fontpath, size=9)
plt.rc('font', family='NanumBarunGothic') 
mpl.font_manager._rebuild()

import re

In [3]:
#문자열에서 charset요소값을 찾아줌
def charEncode(st) :
    pt = r'charset=[\"\']*([\w-]+)'

    charcode  = re.search(pt, st)
    if charcode : 
        cc = charcode.group(1)
    else :
        cc = 'utf-8'

    return cc

#해당 페이지를 decode한 html문서 가져오기
def urlHtml(url):
    data = urlopen(url).read()
    urlcc = charEncode(str(data))
    html = data.decode(urlcc, errors="replace")

    html = bs(html, 'html.parser')
    return html

In [46]:
def mvlist(year):
    mvlt = [] 
    url = 'https://movie.daum.net/boxoffice/yearly?year=' + str(year)

    html = urlHtml(url)
    ul = html.select('.list_boxthumb > li')

    for li in ul :
        ainfo = str(li.select_one('a'))
        id = re.search(r'data-tiara-id=\"([\d]+)', ainfo).group(1)
        rank = re.search(r'data-tiara-ordnum=\"([\d]+)', ainfo).group(1)
        href = re.search(r'data-tiara-ordnum=\"([\d]+)', ainfo).group(1)
        print(id, rank)

    return mvlt

In [47]:
mvlist(2019)

119859 1
93252 2
93004 3
115601 4
111292 5
121137 6
122542 7
133855 8
101393 9
125080 10
121160 11
116523 12
123374 13
124806 14
127242 15
123556 16
110875 17
121919 18
127878 19
118907 20
121408 21
128397 22
134130 23
123582 24
115191 25
122593 26
124804 27
106442 28
116230 29
113877 30
126721 31
118493 32
120834 33
119238 34
94484 35
121982 36
121368 37
121721 38
111120 39
124812 40
125049 41
128372 42
120146 43
122541 44
128434 45
124178 46
126143 47
124803 48
131271 49
126253 50

[]

In [17]:
l1 = [1,2,3]
l2 = ['a','b']

l3 = l1 + l2 
l3

[1, 2, 3, 'a', 'b']